.indicateur{
    margin-top: -50px;
}

#debut{
    background-color: black;
    height: 75px;
    width: 5px;
    margin-top: -25px;
    
}

#fin{
    background-color: black;
    height: 75px;
    width: 5px;
    margin-top: -25px;

}

.indicateur2{
    margin-top: -50px;

}

#debut2{
    background-color: black;
    height: 135px;
    width: 5px;
    margin-top: -25px;

}

#fin2{
    background-color: black;
    height: 135px;
    width: 5px;
    margin-top: -25px;


}