body {
    margin: auto;
    overflow: hidden;
}

.theme-light {
    --color-primary: #ffffffc0;
    --color-secondary: #e5e5e5;
    --color-accent: #f6bd60;
    --font-color: #000000;
  }
.theme-dark {
    --color-primary: #000000;
    --color-secondary: #14213d;
    --color-accent: #fca311;
    --font-color: #e5e5e5;
}



.app{
    width: 100vw;
    height: 100vh;
    color: var(--font-color);
    font: 12pt arial;
    background-color: var(--color-primary);
}

#mynetwork {
    margin-left: 10vw;
    height: 100vh;
    width: auto;
    background-color: var(--color-primary);
}
#mynetwork.hidden {
    margin-left: 0;
}

.title{
    text-align: center;
    font-family: sans-serif;
}

.legende-mobile{
    width: 10vw;
    height: 100%;
    float: left;
    background-color: var(--color-secondary);
    transition: margin 0.3s ease-in-out;
}
.legende-mobile.hidden{
    margin-left: -10vw;
    transition: margin 0.3s ease-in-out;
}

.legende-mobile-element{

}

.legende-bouton{
    width: fit-content;
    height: fit-content;
    position: absolute;
    z-index: 1000;
    display: table-cell; 
    vertical-align: middle;
    text-align: center;
    background-color: var(--color-accent);
    color: black;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.legende-bouton.legende-bouton-legende-mobile{
    top: -3px;
    left: 0px;
    padding-bottom: 2px;
    padding-right: 4px;
    border-radius: 0 0 5px 0;
}
.legende-bouton.legende-bouton-legende-fixe{
    top: -3px;
    right: 0px;
    padding-bottom: 2px;
    padding-left: 4px;
    top: -3px;
    border-radius: 0 0 0 5px;
}
.legende-bouton.legende-bouton-outils{
    top: -3px;
    left: 0px;
    right: 0px;
    padding-right: 2px;
    padding-left: 2px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0 0 5px 5px;
}

.legende-complete{
    position: absolute;
    float: right;
    top: 0px;
    right: 0px;
    width: 10vw;
    background-color: var(--color-secondary);
    border-radius: 0px 0px 0px 10px;
    z-index: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: margin 0.6s ease-in-out;
}
.legende-complete.hidden{
    margin-right: -100vw;
    transition: margin 1s ease-in-out;
}

.outils {
    position: absolute;
    background-color: var(--color-secondary);
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: fit-content;
    max-width: 70vw;
    min-height: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    z-index: 500;
    transition: margin 0.6s ease-in-out;
}
.outils.hidden {
    margin-top: -100vh;
    transition: margin 1s ease-in-out;
}

.outils .row {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid black;
    flex-wrap: wrap;
}

.search{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    margin-left: 10px;
}
.search-bouton{
    background-color: var(--color-accent);
    border: 1px solid black ;
    border-radius: 10px;
    margin-left: 10px;
}
.search-field{
    border-color: white;
    border-radius: 10px;
}

.preferences{
    margin-left: 20px;
    margin-right: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 150px;
}

.preferences-element{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    height: 20px;
}

.switch {
    position: relative;
    width: 30px;
    height: 15px;
    top: 3px;
    left: 3px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 1px;
    background-color: var(--color-accent);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--color-primary);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--color-primary);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

div.vis-network div.vis-navigation div.vis-button.vis-up, 
div.vis-network div.vis-navigation div.vis-button.vis-down, 
div.vis-network div.vis-navigation div.vis-button.vis-left, 
div.vis-network div.vis-navigation div.vis-button.vis-right, 
div.vis-network div.vis-navigation div.vis-button.vis-zoomIn, 
div.vis-network div.vis-navigation div.vis-button.vis-zoomOut, 
div.vis-network div.vis-navigation div.vis-button.vis-zoomExtends {
  background-image: none !important;
}

div.vis-network div.vis-navigation div.vis-button:hover {
  box-shadow: none !important;
}

.vis-button {
    color: var(--color-accent);
}

.vis-button:after {
  font-size: 2em;
  color: var(--color-accent);
}

.vis-button:hover:after {
  font-size: 2em;
  color: var(--font-color);
}

.vis-button.vis-up:after {
  content: "▲";

}

.vis-button.vis-down:after {
  content: "▼";

}

.vis-button.vis-left:after {
  content: "◀";

}

.vis-button.vis-right:after {
  content: "▶";
}

.vis-button.vis-zoomIn:after {
  content: "+";
  font-weight: bold;
}

.vis-button.vis-zoomOut:after {
  content: "−";
  font-weight: bold;
}

.vis-button.vis-zoomExtends:after {
  content: "⤧";
  font-weight: bold;
}

#slider {
    width: 200px;
    right: 0;
    height: 5px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: xx-small;
}

#slider .noUi-connect {
    background: var(--color-accent);
}

#slider .noUi-handle {
    height: 13px;
    width: 13px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
}


#slider-zoom {
    position: absolute;
    height: 20vh;
    right: 27px;
    width: 10px;
    bottom: 15vh;
    z-index: 500;
}

#slider-zoom .noUi-connect {
    background-color: var(--color-accent);
}

#slider-zoom .noUi-handle {
    height: 20px;
    width: 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
}